[submodule "mpl_finance"]
	path = mpl_finance
	url = https://github.com/matplotlib/mpl_finance
[submodule "tacos"]
	path = tacos
	url = git@github.com:fvalle1/tacos.git
[submodule "MSc_doc"]
	path = MSc_doc
	url = git@github.com:fvalle1/MSc_doc.git
[submodule "hierarchical_clustering_tensorflow"]
	path = hierarchical_clustering_tensorflow
	url = git@github.com:fvalle1/hierarchical_clustering_tensorflow.git
