.DS_Store
OSLOM2/
gdc-client/
pgc/
midterms/
Enrichr/

*/.idea
.ipynb_checkpoints/
*/cmake-build-debug/
*/CMakeFiles/
*/build

data/
data_counts/
data_fpkm/
data_fpkmuq/
data_mining/master/
results/
DATA_MOUSE/
plot/

manifest.txt

*.o
*.out
*.pyc
*.png
*.xml
*.gz
corpus.*
*.csv
*.tsv
*.dat
*.pdf
*.jpg
*gct
*swp
*.xls*
*.txt
*.red

gtex/biobank_collection_20190430_070519\.txt
